*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
}

.nav{
  padding: 10px 50px;
display: grid;
grid-template-columns: max-content 1fr max-content;
align-items: center;
-webkit-box-shadow: 0px 9px 24px -18px rgba(0,0,0,.3);
box-shadow: 0px 9px 24px -18px rgba(0,0,0,.3);
}
.nav-left{

}
.nav-middle{
  text-align: center;
}
.nav-middle>img{
  margin: 0;
  width: 100px
}
.nav-right{
display: grid;
grid-template-columns: max-content max-content;

}
.nav-left>ul{
  list-style: none;
  margin: 0;
}
.nav-left>ul>li{
  display: inline-block;
  margin-right: 10px;
}
.nav-left>ul>li:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.nav-left>ul>li:last-child{
margin-right: none;
}

.nav-left>ul>li>img{
 
}
.search{
  background-color: pink;
  padding: 1em;
  max-width: max-content;
}
.search-box{
  font-size: 20px;
    min-width: 300px;
    border: none;
    padding: .5em 1em;
}
.search-btn{
  color: white;
  background-color: #4090F7;
  border: none;
  padding: .5em 1em;
  font-size: 20px;
}
.link{
  color: #4090F7;
}
.user{
  margin-right: 6px;
}
.logout{
  cursor: pointer;
}
.user-i{
  background-color: grey;
  border-radius: 50%;
  padding: 5px;
}